.ContactPage-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Name-email{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.Name{
    border-radius: 15px;
    border: transparent;
    width: 10vw;
    height: 5vh;
}

.Email{
    border-radius: 15px;
    border: transparent;
    width: 20vw;
    height: 5vh;
}

.Message{
    border-radius: 15px;
    border: transparent;
    width: 31vw;
    height: 25vh;
}

input{
    background: #bcab7a;
    font-size: 0.9rem;
    color: black;
    text-align: center;
}


